  ALTER TABLE [DBA_TEST].[dbo].[MInventoryInfo]
  add [IT Contact Team] nvarchar(100) NULL,
  [Business Contact] nvarchar(100) NULL,
  [Location ID] nvarchar(100) NULL,
  [Application Info] nvarchar(100) NULL;


